.App {
  text-align: center;
  padding: 2rem 4rem;
}

th,
td {
  padding: 15px;
  border-bottom: 1px rgba(192, 192, 192, 0.5) solid
}


table {
  width: 100%;
}

.searchBox {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 1px rgba(192, 192, 192, 0.5) solid;

}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.pagination-button {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;

}

.selected {
  background-color: rgb(24, 144, 255);
  color: white;
}

.delete-button {
  position: absolute;
  left: 4rem ;
  background-color: red;
  color: white;
  margin: 15px;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  /* margin-top: 25px; */
}

.checked {
  background-color: rgb(245,245,245);
}